# Python Basics

## Data types

### Numbers and Operators

int = 2,4,6
float = 5.0,2.4,6.7

 *Add*

In [ ]:
1 + 1

*Multiply*

In [ ]:
1 * 3

*Divide*

In [ ]:
1 / 2

*To the power of*

In [ ]:
2 ** 4

*Remainder of the division*

In [ ]:
4 % 2

In [ ]:
5 % 2

*Order of operation*

In [ ]:
(2 + 3) * (5 + 5)

In [ ]:
# Add comment

In [ ]:
# Division always returns a floating point number

### Variable Assignment

In [ ]:
# Equal sign (=) is used to assign a value to a variable
# Variables cannnot start with numbers or special characters

In [ ]:
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

*Concatenation*

In [ ]:
"String " + "together"

In [ ]:
# Strings are immutable

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

### Lists

In [ ]:
[1,2,3]

In [ ]:
# Can contain different types

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
# Add new items

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
# Lists can be indexed and sliced

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [ ]:
# Indexing returns an item

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
# Slicing returns a new list

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [ ]:
# Lists are mutable

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
# Nest lists within lists

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

In [ ]:
# Map unique keys to values
# Construct dictionary with use of curly brackets {} and index with square brackets []

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

### Booleans

In [ ]:
# Evaluate an expression

In [ ]:
True

In [ ]:
False

### Tuples

In [ ]:
# Collection of items

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

In [ ]:
# Tuples are immutable , the following error occurs when trying to change an item in a tuple

In [ ]:
t[0] = 'NEW'

### Sets

In [ ]:
# Collection of unordered and unindexed items

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

## Comparison Operators

*More than*

In [ ]:
1 > 2

*Less than*

In [ ]:
1 < 2

*More than or equal to*

In [ ]:
1 >= 1

*Less than or equal to*

In [ ]:
1 <= 4

*Equal to*

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
# Returns True if both statements are True

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
# Returns True if one of the staements are True

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

In [ ]:
# Reverse the result, returns False if the result is True

In [ ]:
x = 3

In [ ]:
not(x < 5 and x < 10)

## if,elif, else Statements

In [ ]:
# Use indentation to define scope in the code

In [ ]:
if 1 < 2:
    print('Hello!')

In [ ]:
if 1 < 2:
    print('Hello!')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
# Use elif to add another condition if previous condition does not return True

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
# Iterate over a sequence (that is either a list, a tuple, a dictionary , a set ,or a string)

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('hello')

In [ ]:
for num in seq:
    print(num+num)

## while Loops

In [ ]:
# Execute a set of statements while the condition is True

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

## range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## List Comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

## Functions

In [ ]:
# A function is a block of code then only runs when it is called

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## Lambda Expressions

In [ ]:
# A lambda function is a small anonymous function
# Can take any number of arguments, but can only have one expression

In [ ]:
x = lambda a : a + 10
print (x(5))

In [ ]:
x = lambda a,b : a * b
print (x(5,6))

## Map and Filter

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## Arrays

In [ ]:
# Arrays can be used to store multiple values in one single variable

In [ ]:
cars = ["Ford","Volvo","BMW"]

In [ ]:
x = cars[1]
x

In [ ]:
x = len(cars)
x

## Objects

In [ ]:
# A class is like an object contructor

*Create a class*

In [ ]:
class MyClass:
    x = 5

*Create an object*

In [ ]:
p1 = MyClass()
print(p1.x)

## Instantiation

In [ ]:
# All classes have a function called __init__(), which is always executed when the class is being initiated
# Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

## Methods

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

d

d.keys()

d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']